<div id="container">


  <div class="ui inverted menu" id="main-menu">
    {{#link-to "users" classNames="item"}}Users{{/link-to}}
    {{#link-to "playlists" classNames="item"}}Playlists{{/link-to}}
    {{#link-to "videos" classNames="item"}}Videos{{/link-to}}

    {{#if session.isAuthenticated}}
      <a {{ action 'invalidateSession' }}>Logout</a>
    {{else}}
      <div class="ui secondary button">{{#link-to 'login'}}Login{{/link-to}}</div>
    {{/if}}
  </div>
  <body>
    <div id="main-outlet">
      {{outlet}}
    </div>
  </body>


</div>
