<div id="container">


  <div class="ui inverted menu" id="main-menu">
    {{#link-to "playlists" classNames="item"}}Playlists{{/link-to}}
    {{#link-to "videos" classNames="item"}}Videos{{/link-to}}

    <div class="right menu">
      {{#if session.isAuthenticated}}
        <a {{ action 'invalidateSession' }}>Logout</a>
      {{else}}
        <a class="item">{{#link-to 'login'}}Login{{/link-to}}</a>
      {{/if}}
    </div>
  </div>
  <body>

    <div class="ui two column grid">
      <div class="ten wide column">
        <div id="main-outlet">
          {{outlet}}
        </div>
      </div>
      <div class="center aligned six wide column">
        {{ember-youtube ytid=response.videoId}}
      </div>
    </div>

  </body>


</div>
